# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code settings
.vscode/

# Other system files
.DS_Store
Thumbs.db

# Logs
*.log