body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

#chat-box {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#chat-form {
    display: flex;
    width: 100%;
}

#message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

.chat-message {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.me {
    color: red;
    text-align: left;
}

.other {
    color: blue;
    text-align: left;
}